// Import Bootstrap
@import "../../bootstrap/less/bootstrap.less";

body {
	padding-top: 50px;
}

@themecolor1: #8a4375;
@themecolor2: #d2a6da;
@themecolor3: #db96a0;
@themecolor4: #39943a;
@themecolor5: #898170;

@navbar-default-bg: @themecolor2;
@navbar-default-link-color: @themecolor1;

// Default navbar
.navbar-default {
  #gradient > .vertical(@start-color: darken(@navbar-default-bg, 5%); @end-color: @navbar-default-bg);
  .reset-filter(); // Remove gradient in IE<10 to fix bug where dropdowns don't get triggered
  border-radius: @navbar-border-radius;
  // @shadow: inset 0 1px 5px rgba(0,0,0,.075),0 10px 0 rgba(0,0,0,.2);
  // .box-shadow(@shadow);

  .navbar-nav > .active > a {
    #gradient > .vertical(@start-color: darken(@navbar-default-bg, 5%); @end-color: darken(@navbar-default-bg, 2%));
    .box-shadow(inset 0 3px 9px rgba(0,0,0,.075));
  }
}
.navbar-brand,
.navbar-nav > li > a {
  text-shadow: 0 1px 0 rgba(255,255,255,.25);
  font-family: 'Kaushan Script', cursive;
}